html {
    box-sizing: border-box;
}

/* normalize WTF */
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background-color: #2C2141;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: white;
    border-radius: 16px;
    max-width: 624px;
    width: 100%;
    max-height: 1320px;
    height: 1000px;
    
    display: flex;  
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
}

.card_about {
    height: 1000px;
    align-self: center;
}

.card__image {
    padding-top: 32px;
    padding-left: 32px;
    height:1000px;
}